# Intro till Pandas
- Series object
- DataFrame object

In [ ]:
import pandas as pd 

data = dict(AI = 25, NET=30, APP = 27, Java = 23)
series = pd.Series(data=data)
series

In [ ]:
data2 = dict(AI = 21, NET=30.0, APP = 27, Java = 23)
pd.Series(data2)

In [ ]:
# extracting values 
print(f"series[0]: {series[0]}")
print(f"series[-1]: {series[-1]}")

# extract keys
print(f"series.keys: {series.keys()}")
print(f"series.keys[-2]: {series.keys()[-2]}")

## DataFrame

In [ ]:
df = pd.DataFrame(series)
#print(df)
df

In [ ]:
df = pd.DataFrame(series, columns=("Number students",))
df

In [ ]:
languages = pd.Series(dict(AI="Python", NET = "C#", APP = "Kotlin", Java="JAVA"))
df = pd.DataFrame({"Students":series, "Language":languages})
df

In [ ]:
df.index # komma åt index

## Data selection

In [ ]:
df.Students # gets a Series with attribute-approach

In [ ]:
df["Students"] # gets a Series with dictionary-keys approach (__getitem__())

In [ ]:
# multiple columns
df[["Language", "Students"]]

In [ ]:
# wants to get all rows > 24 students
print(df["Students"] > 24) # __gt__()

# masking
large_groups = df[df["Students"] > 24] # picked out all rows that are True
large_groups

In [ ]:
large_groups.info()

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt 
sns.barplot(data=large_groups, x=large_groups.index, y="Students")
plt.title("Antal studenter i olika program"); # can also use seaborns methods for this

In [1]:
# Read Excel
import pandas as pd 
calories = pd.read_excel("../Data/calories.xlsx")
calories

,FoodCategory,FoodItem,per100grams,Cals_per100grams,KJ_per100grams
0,CannedFruit,Applesauce,100g,62 cal,260 kJ
1,CannedFruit,Canned Apricots,100g,48 cal,202 kJ
2,CannedFruit,Canned Blackberries,100g,92 cal,386 kJ
3,CannedFruit,Canned Blueberries,100g,88 cal,370 kJ
4,CannedFruit,Canned Cherries,100g,54 cal,227 kJ
...,...,...,...,...,...
2220,Spreads,Sunflower Butter,100g,617 cal,2591 kJ
2221,Spreads,Tapenade,100g,233 cal,979 kJ
2222,Spreads,Unsalted Butter,100g,717 cal,3011 kJ
2223,Spreads,Vegemite,100g,180 cal,756 kJ
2224,Spreads,Wild Honey,100g,286 cal,1201 kJ