
<a href="https://colab.research.google.com/github/kokchun/Databehandling-21/blob/main/Lectures/L1-missing-aggregation.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; for interacting with the code

---
# Lecture notes - Pandas - missing data & aggregations

---
This is the lecture note for **Pandas missing data & aggregations** - but it's built upon contents from previous course: 
- Python programming

<p class = "alert alert-info" role="alert"><b>Note</b> that this lecture note gives a brief introduction to Pandas. I encourage you to read further about pandas.

Read more 

- [documentation - read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

- [documentation - aggregate](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.aggregate.html)

- [documentation - groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

- [documentation - missing values](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html)
---

## Setup
- create dummy DataFrame
- it's very useful to create dummy DataFrame in order to test and learn Pandas methods

In [47]:
import numpy as np 
import pandas as pd
np.random.seed(42)


random_matrix = np.random.randint(1,10, (6,6))
scores  = pd.DataFrame(random_matrix, columns=[f"Person {i}" for i in range(6)])
scores.index.rename("Runda", inplace=True) # inplace=True -> retain all original df properties
scores

       Person 0  Person 1  Person 2  Person 3  Person 4  Person 5
Runda
0             7         4         8         5         7         3
1             7         8         5         4         8         8
2             3         6         5         2         8         6
3             2         5         1         6         9         1
4             3         7         4         9         3         5
5             3         7         5         9         7         2

In [50]:
# descriptive statistics
df.describe()

       Person 0  Person 1  Person 2  Person 3  Person 4  Person 5
count  6.000000  6.000000  6.000000  6.000000  6.000000  6.000000
mean   4.166667  6.166667  4.666667  5.833333  7.000000  4.166667
std    2.228602  1.471960  2.250926  2.786874  2.097618  2.639444
min    2.000000  4.000000  1.000000  2.000000  3.000000  1.000000
25%    3.000000  5.250000  4.250000  4.250000  7.000000  2.250000
50%    3.000000  6.500000  5.000000  5.500000  7.500000  4.000000
75%    6.000000  7.000000  5.000000  8.250000  8.000000  5.750000
max    7.000000  8.000000  8.000000  9.000000  9.000000  8.000000

In [67]:
# make some values into null 
rng = np.random.default_rng(seed=42)
rows = rng.choice(len(scores), size = 3, replace=False) # creates random values without replacement
rows

array([5, 0, 3])

## Missing data
- None - Pythonic missing data. A Python object - operations done on Python level and not numpy or pandas.
    - Error when performing arithmetic on None dtypes
- NaN - floating point "Not a Number". Supports fast operations, however all arithmetic operations with NaN results in a NaN

Pandas treats NaN and None almost interchangeably
- isnull()
- notnull()
- dropna()
- fillna()

In [45]:
scores

Index(['Person 0', 'Person 1', 'Person 2', 'Person 3', 'Person 4', 'Person 5'], dtype='object')

---

Kokchun Giang

[LinkedIn][linkedIn_kokchun]

[GitHub portfolio][github_portfolio]

[linkedIn_kokchun]: https://www.linkedin.com/in/kokchungiang/
[github_portfolio]: https://github.com/kokchun/Portfolio-Kokchun-Giang

---