
<a href="https://colab.research.google.com/github/kokchun/Databehandling-21/blob/main/Lectures/L1-missing-aggregation.ipynb" target="_parent"><img align="left" src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a> &nbsp; for interacting with the code

---
# Lecture notes - Pandas - missing data & aggregations

---
This is the lecture note for **Pandas missing data & aggregations** - but it's built upon contents from previous course: 
- Python programming

<p class = "alert alert-info" role="alert"><b>Note</b> that this lecture note gives a brief introduction to Pandas. I encourage you to read further about pandas.

Read more 

- [documentation - read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)

- [documentation - aggregate](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.aggregate.html)

- [documentation - groupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

- [documentation - missing values](https://pandas.pydata.org/pandas-docs/stable/user_guide/missing_data.html)
---

## Missing data
- None - Pythonic missing data. A Python object - operations done on Python level and not numpy or pandas.
    - Error when performing arithmetic on None dtypes
- NaN - floating point "Not a Number". Supports fast operations, however all arithmetic operations with NaN results in a NaN

Pandas treats NaN and None almost interchangeably
- isnull()
- notnull()
- dropna()
- fillna()

In [29]:
import numpy as np 
import pandas as pd
np.random.seed(42)


random_matrix = np.random.randint(1,10, (6,6))
df = pd.DataFrame(random_matrix, columns=[f"Person {i}" for i in range(6)])
df.rename_axis("Uppgift") # vad betyder detta?

         Person 0  Person 1  Person 2  Person 3  Person 4  Person 5
Uppgift
0               7         4         8         5         7         3
1               7         8         5         4         8         8
2               3         6         5         2         8         6
3               2         5         1         6         9         1
4               3         7         4         9         3         5
5               3         7         5         9         7         2

---

Kokchun Giang

[LinkedIn][linkedIn_kokchun]

[GitHub portfolio][github_portfolio]

[linkedIn_kokchun]: https://www.linkedin.com/in/kokchungiang/
[github_portfolio]: https://github.com/kokchun/Portfolio-Kokchun-Giang

---